# Environment variables
.env

# Database
*.db

# Uploads
static/uploads/

# Python cache
__pycache__/
*.pyc

# Virtualenv
.venv/
venv/

# Node modules
node_modules/

# Database backups (created by migration script)
beevy.db.bak*
migrations/backups/

