.user-menu{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    z-index: 100;
}
.user-menu-button{
    background: #a17cf4;
    color: rgb(247, 235, 78);
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    user-select: none;   
}
.user-menu-button:hover{
    background: #b391ff;
    color: white;
}
.dropdown{
    background: #8860cc;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.3);
    margin-top: 8px;
    position: absolute;
    right: 0;
    width: 150px;
    text-align: center;
}
.dropdown a{
    display: block;
    padding: 10px 15px;
    color: rgb(247, 235, 78);
    text-decoration: none;
    transition: 0.2s;
}
.dropdown a:hover{
    background: #b391ff;
    color: white;
    border-radius: 10px;
}
.hidden{
    display: none;
}