@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.content {
    padding: 20px 40px 40px 40px; /* less top padding */
    margin: 0 auto;
}

.container {
    top: 0px;
    display: flex;
    gap: 10px;
    padding: 20px;
    max-width: 1500px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    left: 20px;
    top: 20px;
}

section{
    border-radius: 7px;
    flex: 1;
    background: rgba(255,255,255,0.08);
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 20;
}

.toolsBoard {
    flex: 0 0 220px; /* fixed on small screens */
    max-width: 30vw;
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: relative;
    z-index: 10;
}

.toolsBoard .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img{
    filter: invert(91%) sepia(87%) saturate(747%) hue-rotate(1deg) brightness(103%) contrast(102%);

}

.option:is(:hover, .active) :where(span, label){
    color:  rgb(255, 176, 0);
}

.option :where(span, label){
    color:rgb(46, 46, 46);
    cursor: pointer;
    padding-left: 10px;
}

.option #fillColor{
    cursor: pointer;
    height: 14px;
    width: 14px;
}

#fillColor:checked ~ label{
    color: #0095f3;
}

.option #sizeSlider{
    width: 100%;
    height: 3px;
    margin-top: 10px;
}

.drawingBoard {
    flex: 1;
    height: calc(100vh - 60px); /* full viewport height minus padding */
    display: flex;
    justify-content: center;
    align-items: center;
}


.drawingBoard canvas {
    background-color: white;
    width: 120%;
    height: 100%;
    border-radius: 14px;
    box-shadow:
        0 0 25px rgba(247,235,78,0.15),
        inset 0 0 10px rgba(0,0,0,0.08);
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .toolsBoard {
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}

#colorPicker{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.IroWheel{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.option #size{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.IroSlider{
    margin: 0 auto;
}


.buttons{
    text-align: center;
    margin: 0 auto;
}