:root {
    --primary-bg: #8860cc;
    --primary-text: rgb(247 235 78);
    --accent-color: #f7eb4e;
    --transition-speed: 0.3s;
}


/* Form container */
form {
    background: rgb(255 255 255 / 8%);
    border: 2px solid rgb(247 235 78 / 60%);
    border-radius: 15px;
    padding: 30px 40px;
    min-width: 200px;
    max-width: 600px;
    box-shadow: 0 0 15px rgb(247 235 78 / 10%);
    backdrop-filter: blur(6px);
    position: relative;
    z-index: 1;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Labels and inputs */
label {
    color: var(--primary-text);
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgb(255 255 255 / 10%);
    color: white;
    outline: none;
    margin-bottom: 15px;
}

.input:focus {
    box-shadow: 0 0 10px rgb(247 235 78 / 70%);
}

/* Submit button */
.submit {
    background: linear-gradient(90deg, #a77bff, #8860cc);
    color: var(--primary-text);
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition-speed);
    font-weight: bold;
}

.submit:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #b391ff, #9c7cff);
    box-shadow: 0 0 10px rgb(247 235 78 / 60%);
}

.drawCreateForm{
    text-align: center;
}
