{% extends "base.html" %}
{% block title %}Art Details{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/art_detail.css">
{% endblock %}

{% block content %}
<div class="art-detail">

<h2>{{ item[2] }}</h2>
<p>By {{ item[-1] }}</p>
<p>Price: {{ item[5] }} BP</p>
<p>Description: {{ item[3] }}</p>
<p>Turnaround time: {{ item[4] }} days</p>

<h3>Thumbnail</h3>
{% if item[7] %}
    <img src="{{ url_for('static', filename=item[7]) }}" alt="Thumbnail" style="max-width:300px;">
{% endif %}

{% if examples_list %}
    <h3>Example images</h3>
    {% for ex in examples_list %}
        <img src="{{ url_for('static', filename=ex) }}" alt="Example" style="max-width:300px; margin:5px;">
    {% endfor %}
{% endif %}
<br>
{% if owns %}
    <a href="{{ url_for('download_art', art_id=item[0]) }}" class="btn download">
        Download Original
    </a>
{% elif session.username == item[-1] %}
    <a href="">
        Edit artwork.
    </a>
{% else %}
    <a href="{{ url_for('buy_art', art_id=item[0]) }}" class="btn buy">
        Buy for {{ item[5] }} BP
    </a>
{% endif %}

</div>
{% endblock %}
