{% extends "base.html" %}
{% block title %}Edit{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<h1 class="shop-title">Edit an artwork</h1>

<form method="POST" enctype="multipart/form-data" class="edit-form">
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <!-- Title -->
    <label class="form-label">Title</label>
    <input type="text" name="title" required class="input" value="{{ item[2] }}">

    <!-- Description -->
    <label class="form-label">Description</label>
    <textarea class="desc" name="description">{{ item[3] }}</textarea>

    <!-- Slots -->
    <label class="form-label">Slots (optional)</label>
    <input type="number" name="slots" min="1" class="input" value="{{ item[11] }}">

    <!-- Thumbnail -->
    <label class="form-label">Thumbnail (cover image)</label>
    <input type="file" id="avatarInput" name="thumbnail" accept="image/*" class="input" value="{{ item[7] }}">
    <div style="position: relative; display: inline-block;">
        <img id="thumbPreview" src="{{ url_for('static', filename=item[7]) if item[7] else url_for('static', filename='images/noThumb.png') }}" class="thumb-preview" alt="Thumbnail" style="max-width:300px; margin:5px;">
        <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
    </div>

    <!-- Examples -->
    <label class="form-label">Example images (optional)</label>
    <input type="file" name="examples" accept="image/*" multiple class="input">
    {% for ex in examples_list %}
    <div style="position: relative; display: inline-block;">
        <img src="{{ url_for('static', filename=ex) }}" alt="Example" style="max-width:300px; margin:5px;">
        <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
    </div>
    {% endfor %}
    <div id="examplesPreview" class="preview-container"></div>

    <!-- Hide -->
     {% if item[13] == 1 %}
    <label class="form-label">Hide artwork in shop</label>
    <ul>
    <label>
        Type <b>HIDE</b> to confirm:
        <input type="text" name="confirmHide" class="input">
    </label>
    </ul>
    {% elif item[13]==0 %}
    <label class="form-label">Show artwork in shop</label>
    <ul>
    <label>
        Type <b>SHOW</b> to confirm:
        <input type="text" name="confirmShow" class="input">
    </label>
    </ul>
    {% endif %}


    <!-- Delete -->
    <hr>

<div class="danger-zone">
    <h3 class="danger-title">Danger zone</h3>

    <label class="form-label danger">
        Delete artwork permanently
    </label>

    <p class="danger-text">
        This action cannot be undone.
    </p>
    <ul>
    <label>
        Type <b>DELETE</b> to confirm:
        <input type="text" name="confirmDelete" class="input danger-input">
    </label>

    <label>
        Confirm password:
        <input type="password" name="password" class="input danger-input">
    </label>
    </ul>
</div>


    <button type="submit" class="submit" id="submit">Save changes</button>

</form>
<script>
    const thumbInput = document.getElementById('thumbInput');
    const thumbPreview = document.getElementById('thumbPreview');

    thumbInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                thumbPreview.src = e.target.result; // show preview
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
