<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">    
    <link rel="icon" type="image/gif" href="/static/images/favicon/favicon.ico">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Beevy{% endblock %}</title>
</head>

<body>

    <!-- horni profil -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, msg in messages %}
                    <p class="msg {{ category }}">
                        {{ msg }}
                        <span class="close-btn">&times;</span>
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    

        
    {% if session.username %}
<div class="user-menu">
    <div class="user-menu-button" onclick="toggleMenu()">
        {% if g.avatar_path %}
            <img src="{{ url_for('static', filename=g.avatar_path) }}" class="user-avatar">
        {% else %}
            <img src="{{ url_for('static', filename='images/default_avatar.png') }}" class="user-avatar">
        {% endif %}

        {{ session.get('username') }}
    </div>
    <div id="user-dropdown" class="dropdown hidden">
        <a href="/">Home</a>
        <a href="/{{ session.get('username') }}">Profile</a>
        <a href="/create_art">Create a commission/art</a>
        <a href="">Your commissions/art</a>
        <a href="/{{ session.get('username') }}/settings">Settings</a>
    </div>
</div>
{% endif %}



    <!-- obsah kazdé stranky -->
    {% block content %}{% endblock %}
    
    <script>
        function toggleMenu(){
            document.getElementById("user-dropdown").classList.toggle("hidden");
        };
        document.addEventListener("click", function(e){
            const menu = document.getElementById("user-dropdown");
            const button = document.querySelector(".user-menu-button");
            if (!button.contains(e.target) && !menu.contains(e.target)){
                menu.classList.add("hidden");
            }
        });
document.addEventListener('click', function (e) {
    if (e.target.classList.contains('close-btn')) {
        const msg = e.target.closest('.msg');
        if (msg) {
            msg.style.opacity = '0';
            setTimeout(() => msg.remove(), 500);
        }
    }
});

// optional fade-in
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.msg').forEach(msg => {
        setTimeout(() => msg.classList.add('show'), 150);
    });
});

</script>
</body>
</html>
