<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">    
    <link rel="icon" type="image/gif" href="/static/images/favicon/favicon.ico">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Beevy{% endblock %}</title>
</head>

<body>

    <!-- horni profil -->
    
        
            
    {% if session.username %}
    <div class="user-menu">
        <div class="user-menu-button" onclick=toggleMenu()>
            {{ session.get('username') }}
        </div>
        <div id="user-dropdown" class="dropdown hidden">
            <a href="/{{ session.get('username') }}">Profile</a>
            <a href="/create_art">Create a commission/art</a>
            <a href="/{{ session.get('username') }}/settings">Settings</a>
            <a href="/{{ session.get('username') }}/logout">Log Out</a>
            <!--   <a href="/{{ url_for('settings', username = session.get('username')) }}">Settings</a>   -->
        </div>
    </div>
    {% endif %}

    <!-- obsah kazdé stranky -->
    {% block content %}{% endblock %}
    
    <script>
        function toggleMenu(){
            document.getElementById("user-dropdown").classList.toggle("hidden");
        };
        document.addEventListener("click", function(e){
            const menu = document.getElementById("user-dropdown");
            const button = document.querySelector(".user-menu-button");
            if (!button.contains(e.target) && !menu.contains(e.target)){
                menu.classList.add("hidden");
            }
        });
    </script>
</body>
</html>
