{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="/static/css/option.css">
{% endblock %}
{% block content %}
<div class="draw-container">

    <h1 class="draw-title">{{ t('draw.title') }}</h1>

    <div class="draw-links">
        <a href="/create" class="draw-btn">{{ t('draw.create_room') }}</a>
        <a href="/join" class="draw-btn">{{ t('draw.join_room') }}</a>
    </div>

    <div class="draw-content">
        {% block option_page %}{% endblock %}
    </div>

    <a href="{{ url_for('index') }}" class="draw-back">
        {{ t('buttons.back') }}
    </a>

</div>
{% endblock %}
