{% extends "base.html" %}

{% block title %}Draw🐝{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/draw.css">
{% endblock %}

{% block content %} 
    <div class="container">
        <section class="toolsBoard">
            <div class="row">
                <label class="title">{{ g.trans.get('draw.shapes', g.user_language) }}</label> 
                <ul class="options">
                    <li class="option tool" id="rectangle">
                        <img src="{{ url_for('static', filename='images/icons/rectangle.svg') }}">
                        <span>{{ g.trans.get('draw.rectangle', g.user_language) }}</span>
                    </li>
                     <li class="option tool" id="circle">
                        <img src="{{ url_for('static', filename='images/icons/circle.svg') }}">
                        <span>{{ g.trans.get('draw.circle', g.user_language) }}</span>
                    </li>
                    <li class="option tool" id="triangle">
                        <img src="{{ url_for('static', filename='images/icons/triangle.svg') }}">
                        <span>{{ g.trans.get('draw.triangle', g.user_language) }}</span>
                    </li>
                     <li class="option tool" id="fillcolor">
                        <input type="checkbox" id="fillColor">
                        <label for="fillColor">{{ g.trans.get('draw.color', g.user_language) }}</label>
                    </li>
                </ul>
            </div>

            <div class="row">
                <label class="title">{{ g.trans.get('draw.options', g.user_language) }}</label> 
                <ul class="options">
                    <li class="option active tool" id="brush">
                        <img src="{{ url_for('static', filename='images/icons/brush.svg') }}">
                        <span>{{ g.trans.get('draw.brush', g.user_language) }}</span>
                    </li>
                    <li class="option tool" id="eraser">
                        <img src="{{ url_for('static', filename='images/icons/eraser.svg') }}">
                        <span>{{ g.trans.get('draw.eraser', g.user_language) }}</span>
                    </li>
                    <li class="option">
                        <div id="size">{{ brush[0] }}</div>
                    </li>
                    <li class="option">
                        <input type="range" id="sizeSlider" min="0" max="300" value="{{ brush[0] }}">
                    </li>
                </ul>
            </div>

            <div id="colorPicker"></div>
                <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

<br>
            <div class="row buttons">
                <button class="clearCanvas">{{ g.trans.get('buttons.clear', g.user_language) }} {{ g.trans.get('draw.canvas', g.user_language) }}</button><br><br>
                <button class="saveImg" id="saveImg">{{ g.trans.get('buttons.save', g.user_language) }}</button>
<!--TODO: save image to db to userpage-->
            </div>
        </section>
    

        <section class="drawingBoard">
            <canvas id="drawCanvas" width=1000 height=800 data-room-id="{{ room_ID }}" style="border:1px solid #000"></canvas>
        </section>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <!--<script src="/socket.io/socket.io.js"></script>-->
        <script src="{{ url_for('static', filename='script/draw.js') }}"></script>
    </div>
{% endblock %}