{% extends "base.html" %}

{% block title %}Create a room🐝{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
    <form action="/create" method="post" class="drawCreateForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>Name for the room</label>
        <input type="text" name="name" id="name" class="input" required>
        <label>Add a password for a private room</label>
        <input type="password" name="password" id="password" class="input">
        <br><br>
        <button type="submit">Create</button>
    </form>
    <a href="/option">Back</a>
{% endblock %}