{% extends "base.html" %}

{% block title %}Draw{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/draw.css">
{% endblock %}

{% block content %} 
    <div class="container">
        <section class="toolsBoard">
            <div class="row">
                <label class="title">{{ t('draw.shapes') }}</label> 
                <ul class="options">
                    <li class="option tool" id="rectangle">
                        <img src="{{ url_for('static', filename='images/icons/rectangle.svg') }}">
                        <span onclick="showTool('rectangle')">{{ t('draw.rectangle') }}</span>
                    </li>
                     <li class="option tool" id="circle">
                        <img src="{{ url_for('static', filename='images/icons/circle.svg') }}">
                        <span onclick="showTool('circle')">{{ t('draw.circle') }}</span>
                    </li>
                    <li class="option tool" id="triangle">
                        <img src="{{ url_for('static', filename='images/icons/triangle.svg') }}">
                        <span onclick="showTool('triangle')">{{ t('draw.triangle') }}</span>
                    </li>
                </ul>
            </div>

            <div class="row">
                <label class="title">{{ t('draw.options') }}</label> 
                <ul class="options">
                    <li class="option active tool" id="brush">
                        <img src="{{ url_for('static', filename='images/icons/brush.svg') }}">
                        <span onclick="showTool('brush')">{{ t('draw.brush') }}</span>
                    </li>
                    <li class="option tool" id="eraser"> 
                        <img src="{{ url_for('static', filename='images/icons/eraser.svg') }}"> 
                        <span onclick="showTool('eraser')">{{ t('draw.eraser') }}</span> 
                    </li>
                    <li class="option tool bucket" id="bucket">
                        <img src="{{ url_for('static', filename='images/icons/bucket.svg') }}">
                        <span onclick="showTool('bucket')">{{ t('draw.bucket') }}</span>
                    </li>
                    <li class="option">
                        <div id="size">{{ brush[0] }}</div>
                    </li>
                    <li class="option">
                        <input type="range" id="sizeSlider" min="0" max="300" value="{{ brush[0] }}">
                    </li>
                </ul>
            </div>

            <div id="colorPicker"></div>
            <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
            <script src="{{ url_for('static', filename='script/draw.js') }}"></script>
<br>
            <div class="row buttons">
                <button id="clearCanvas" class="clearCanvas">{{ t('buttons.clear') }} {{ t('draw.canvas') }}</button><br><br>
                <button class="saveImg" id="saveImg">{{ t('buttons.save') }}</button>
<!--TODO: save image to db to userpage-->
<!--TODO: bucket on brush bush stoke filled canavs -> bucket doesnt go over it -->
            </div>
        </section>
    

        <section class="drawingBoard">
            <canvas id="drawCanvas" width=1000 height=800 data-room-id="{{ room_ID }}" style="border:1px solid #000"></canvas>
        </section>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
        <!--<script src="/socket.io/socket.io.js"></script>-->
        
    </div>
{% endblock %}