<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error🐝</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/gif" href="/static/images/favicon/favicon.ico">
</head>
<body>
    {% if errorH %}
        <p class = "errorH">
            {% for error in errorH %}
                {{ error }}
            {% endfor %}
        </p>
    {% endif %}
    <a href="/login" class="link">Login</a>
    <a href="/register" class="link">Register</a>
</body>
</body>
</body>
</html>