{% extends "base.html" %}

{% block title %}Beevy🐝{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/styles_test.css">
{% endblock %}



{% block content %}
    <h1 id="title-container">
        <div id="Beevy">Beevy</div> 
        <img src="/static/images/beee.svg" id="bee" width="40">
    </h1>
    <p id="about">Beevy is a playful, welcoming art platform where creators can upload their work, collaborate on canvases, and even stream their drawing sessions. Whether you're a hobbyist or pro, there's a spot in the hive for you!</p>

    <div class="hex-grid">
        {% if not session.username %}
        <div class="hex">
            <a href="/login" class="hex-content">Login</a>
        </div>
        
        <div class="hex">
            <a href="/register" class="hex-content">Register</a>
        </div>
        {% else %}
        <div class="hex">
            <a href="/option" class="hex-content">Draw</a>
        </div>
        <div class="hex">
            <a href="/shop" class="hex-content">Shop</a>
        </div>
        <div class="hex">
            <span class="hex-content">Community</span>
        </div>
        {% endif %}
    </div>

    <footer>footer :></footer>
{% endblock %}