{% extends "base.html" %}

{% block title %}Beevy{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}



{% block content %}
    <h1 id="title-container">
        <div id="Beevy">Beevy</div> 
        <img src="/static/images/beee.svg" id="bee" width="40">
    </h1>
    <p id="about">{{ t('home.subtitle') }}</p>

    <div class="hex-grid">
        {% if not session.username %}
        <div class="hex">
            <a href="/login" class="hex-content">{{ t('home.login') }}</a>
        </div>
        
        <div class="hex">
            <a href="/register" class="hex-content">{{ t('home.register') }}</a>
        </div>
        {% else %}
        <div class="hex">
            <a href="/option" class="hex-content">{{ t('home.draw') }}</a>
        </div>
        <div class="hex">
            <a href="/shop" class="hex-content">{{ t('nav.shop') }}</a>
        </div>
        <div class="hex">
            <span class="hex-content">{{ t('home.community') }}</span>
        </div>
        {% endif %}
    </div>

    <footer>Beevy 2026</footer>
{% endblock %}