{% extends "base.html" %}

{% block title %}Beevy🐝{% endblock %}

{% block extra_css %}{% endblock %}



{% block content %}
    <h1 id="title-container">
        <div id="Beevy">Beevy</div> 
        <img src="/static/images/beee.svg" id="bee" width="40">
    </h1>
    <p id="about">{{ g.trans.get('home.subtitle', g.user_language) }}</p>

    <div class="hex-grid">
        {% if not session.username %}
        <div class="hex">
            <a href="/login" class="hex-content">{{ g.trans.get('home.login', g.user_language) }}</a>
        </div>
        
        <div class="hex">
            <a href="/register" class="hex-content">{{ g.trans.get('home.register', g.user_language) }}</a>
        </div>
        {% else %}
        <div class="hex">
            <a href="/option" class="hex-content">{{ g.trans.get('home.draw', g.user_language) }}</a>
        </div>
        <div class="hex">
            <a href="/shop" class="hex-content">{{ g.trans.get('nav.shop', g.user_language) }}</a>
        </div>
        <div class="hex">
            <span class="hex-content">Community</span>
        </div>
        {% endif %}
    </div>

    <footer>Beevy 2026</footer>
{% endblock %}