{% extends "base.html" %}

{% block title %}Login to Beevy🐝{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
    <form method="POST" action="/login">
        <label for="username">Username or E-mail:</label><br>
        <input type="text" id="username" name="username" class="input" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" class="input" required><br><br>
        <button type="submit" id="logIn" class="submit">Log in</button>
        <p class="linkText">
            Still not part of the hive? <a class="link" href="/register">Become part of the swarm today</a>
        </p>
    </form>
    <br>
    <a href="/" class="link">Main page</a>
{% endblock %}