{% extends "base.html" %}

{% block title %}{{ t('auth.login_title') }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
    <form method="POST" action="/login">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="username">{{ t('auth.username') }}:</label><br>
            <input type="text" id="username" name="username" class="input" required><br><br>
        <label for="password">{{ t('auth.password') }}:</label><br>
            <input type="password" id="password" name="password" class="input" required><br><br>
        <button type="submit" id="logIn" class="submit">{{ t('auth.login_button') }}</button>
        <p class="linkText">
            {{ t('auth.create_account') }} <a class="link" href="/register">{{ t('home.register') }}</a>
        </p>
    </form>
    <br>
    <p class="auth-alt">
        <a href="{{ url_for('recover_account') }}">
            {{ t('auth.password_recovery') }}
        </a>
    </p>
    <br>
    <a href="/" class="link">{{ t('buttons.back') }}</a>
{% endblock %}