{% extends "base.html" %}
{% block title %}Owned Artwork{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/art_detail.css">
{% endblock %}

{% block content %}
<div class="art-detail">

<h2>{{ item[2] }}</h2>
<p>By ####</p>
{% if item[3] %}
    <p>Description: {{ item[3] }}</p>
{% endif %}

<h3>Owned preview</h3>
{% if owned_image %}
    <div style="position: relative; display: inline-block;">
        <img src="{{ url_for('owned_preview', art_id=item[0]) }}" alt="Owned preview" class="preview-img" oncontextmenu="return false;">
        <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
    </div>
{% else %}
    <p><em>No owned preview available.</em></p>
{% endif %}

<br>
<a href="{{ url_for('download_art', art_id=item[0]) }}" class="btn download">Download Original</a>

</div>
{% endblock %}