{% extends "base.html" %}
{% block title %}{{ t('auth.password_recovery') }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<div class="form-container">

    <h2>{{ t('auth.password_recovery') }}</h2>

    <p class="muted">
        {{ t('messages.account_recovery_help') }}
    </p>

    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% if ask_username %}
            <label for="username">{{ t('auth.username') }}</label>
            <input type="username" id="username" name="username" required class="input">
        {% endif %}
        <label for="email">{{ t('auth.email') }}</label>
        <input type="email" id="email" name="email" required class="input" placeholder="you@example.com" value="{{email}}">
        <label for="password">{{ t('auth.password') }}</label>
        <input type="password" id="password" name="password" required class="input">
        <button type="submit" class="submit">{{ t('auth.recover_button') }}</button>
    </form>

    <p class="auth-alt">
        <a href="{{ url_for('login') }}">{{ t('buttons.back') }}</a>
    </p>

</div>
{% endblock %}
