{% extends "base.html" %}

{% block title %}{{ t('draw.private_room') }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<h2>{{ t('draw.private_room') }}</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="password">{{ t('auth.password') }}</label><br>
            <input type="password" name="password" class="input" id="password" required>
        <button type="submit">{{ t('buttons.submit') }}</button>
    </form>
    <br>
    <a href="/join/private" class="link">{{ t('buttons.back') }}</a>
{% endblock %}