{% extends "base.html" %}

{% block title %}Enter Room Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<h2>Private room</h2>
    <form method="POST">
        <label for="password">Enter password for room.</label><br>
            <input type="password" name="password" class="input" id="password" required>
        <button type="submit">Join</button>
    </form>
    <br>

    <a href="/join/private" class="link">Back</a>
{% endblock %}