{% extends "base.html" %}

{% block title %}{{ g.trans.get('draw.private_room', g.user_language) }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block content %}
<h2>{{ g.trans.get('draw.private_room', g.user_language) }}</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="password">{{ g.trans.get('draw.password', g.user_language) }}</label><br>
            <input type="password" name="password" class="input" id="password" required>
        <button type="submit">{{ g.trans.get('buttons.submit', g.user_language) }}</button>
    </form>
    <br>

    <a href="/join/private" class="link">{{ g.trans.get('buttons.back', g.user_language) }}</a>
{% endblock %}