{% extends "settings.html" %}

{% block title %}Profile Settings{% endblock %}

{% block settings_page %}
<h2>{{ g.trans.get('settings.profile', g.user_language) }}</h2>

<form method="POST" id="profileForm" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>{{ g.trans.get('auth.username', g.user_language) }}</label>
    <input type="text" name="username" value="{{ user[1] }}">

    <label>{{ g.trans.get('settings.bio', g.user_language) }}</label>
    <textarea name="bio">{{ user[2] }}</textarea>

    <label>{{ g.trans.get('settings.avatar', g.user_language) }}</label>
    <input type="file" name="avatar" id="avatarInput">

    <img id="avatarPreview" 
     src="{{ url_for('static', filename=user[3]) if user[3] else url_for('static', filename='images/default_avatar.png') }}" 
     class="avatar-preview">

    <script>
    const avatarInput = document.getElementById('avatarInput');
    const avatarPreview = document.getElementById('avatarPreview');

    avatarInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                avatarPreview.src = e.target.result; // show preview
            }
            reader.readAsDataURL(file);
        }
    });
</script>


    <button type="submit">{{ g.trans.get('buttons.save', g.user_language) }}</button>
</form>
{% endblock %}
