{% extends "settings.html" %}

{% block title %}Profile Settings{% endblock %}

{% block settings_page %}
<h2>Profile Settings</h2>

<form method="POST" id="profileForm" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>Username</label>
    <input type="text" name="username" value="{{ user[1] }}">

    <label>Bio</label>
    <textarea name="bio">{{ user[2] }}</textarea>

    <label>Avatar</label>
    <input type="file" name="avatar" id="avatarInput">

    <img id="avatarPreview" 
     src="{{ url_for('static', filename=user[3]) if user[3] else url_for('static', filename='images/default_avatar.png') }}" 
     class="avatar-preview">

    <script>
    const avatarInput = document.getElementById('avatarInput');
    const avatarPreview = document.getElementById('avatarPreview');

    avatarInput.addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                avatarPreview.src = e.target.result; // show preview
            }
            reader.readAsDataURL(file);
        }
    });
</script>


    <button type="submit">Save</button>
</form>
<script>
    if (response.ok){
        location.reload(); // flash messages now appear normally
    }
</script>
{% endblock %}
