{% extends "settings.html" %}

{% block title %}Security Settings{% endblock %}

{% block settings_page %}
<h2>{{ g.trans.get('settings.security', g.user_language) }}</h2>
{% if error %}
        <p class = "error">
            {% for msg in error %}
                {{ msg }}
            {% endfor %}
        </p>
{% endif %}

<form method="POST" id="securityForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<label>{{ g.trans.get('settings.security', g.user_language) }}</label>
<ul class="password">
    <label>{{ g.trans.get('auth.password', g.user_language) }} ({{ g.trans.get('messages.current', g.user_language) }})</label>
    <input type="password" name="curPassword" placeholder="{{ g.trans.get('auth.password', g.user_language) }}" required>

    <label>{{ g.trans.get('auth.password', g.user_language) }} ({{ g.trans.get('messages.new', g.user_language) }})</label>
    <input type="password" name="newPassword" placeholder="{{ g.trans.get('auth.password', g.user_language) }}" required>

    <label>{{ g.trans.get('auth.password', g.user_language) }} ({{ g.trans.get('messages.confirm', g.user_language) }})</label>
    <input type="password" name="newPassword2" placeholder="{{ g.trans.get('auth.password', g.user_language) }}" required>
</ul>

    <label>Last Login</label>
    {{ user[4] }}
    <br>

    <button type="submit" style="margin-left: 40%;">Save</button>
</form>
{% endblock %}
