{% extends "settings.html" %}

{% block title %}{{ t('settings.profile_settings') }}{% endblock %}

{% block settings_page %}
<h2>{{ t('settings.profile') }}</h2>

<form method="POST" id="profileForm" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>{{ t('auth.username') }}</label>
    <input type="text" name="username" value="{{ user[1] }}">

    <label>{{ t('settings.bio') }}</label>
    <textarea name="bio">{{ user[2] }}</textarea>

    <label>{{ t('settings.avatar') }}</label>
    <div class="file-wrapper"> 
        <label for="avatarInput" class="file-label"> {{ t('settings.choose_file') }} </label> 
        <span id="fileName" class="file-name"> {{ t('settings.no_file_selected') }} </span> 
        <input type="file" name="avatar" id="avatarInput"> 
    </div> 
    <img id="avatarPreview" src="{{ url_for('static', filename=user[3]) if user[3] else url_for('static', filename='images/default_avatar.png') }}" class="avatar-preview">

    <script>
    const avatarInput = document.getElementById('avatarInput');
    const avatarPreview = document.getElementById('avatarPreview');
    const fileName = document.getElementById('fileName');

    avatarInput.addEventListener('change', () => {
        fileName.textContent = avatarInput.files[0]?.name || "{{ t('settings.no_file') }}";
    });

</script>
<br>

    <button type="submit">{{ t('buttons.save') }}</button>
</form>
{% endblock %}
