{% extends "settings.html" %}

{% block title %}Log Out{% endblock %}

{% block settings_page %}
<h2>Delete account</h2>
    <form method="POST" class="danger-zone">
    <p class="warning">⚠️ This action is irreversible. Your account will be deactivated.</p>
        <label>
            Type <b>DELETE</b> to confirm:
            <input type="text" name="confirm" required>
        </label>

        <label>
            Confirm password:
            <input type="password" name="password" required>
        </label>

        <button type="submit" class="danger">Delete my account</button>
    </form>

{% endblock %}
