{% extends "settings.html" %}

{% block title %}Security Settings{% endblock %}

{% block settings_page %}
<h2>Security Settings</h2>
{% if error %}
        <p class = "error">
            {% for msg in error %}
                {{ msg }}
            {% endfor %}
        </p>
{% endif %}

<form method="POST" id="securityForm">

    <label>Current Password</label>
    <input type="password" name="curPassword" placeholder="Please type your current password." required>

    <label>New Password</label>
    <input type="password" name="newPassword" placeholder="Please type your new password." required>

    <label>New Password Again</label>
    <input type="password" name="newPassword2" placeholder="Please type your new password again." required>

    <label>Last Login</label>
    {{ user[4] }}
    <br>

    <button type="submit" style="margin-left: 40%;">Save</button>
</form>
{% endblock %}
