{% extends "settings.html" %}

{% block title %}{{ t('settings.account_settings') }}{% endblock %}

{% block settings_page %}
<h2>{{ t('settings.account_settings') }}</h2>

<form id="accountForm" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>{{ t('settings.email') }}</label>
    <input type="email" name="email" value="{{ user[1] }}">
    
<label class="switch-label">{{ t('settings.notifications') }}</label>
<label class="switch"> 
    <input type="checkbox" name="not" {% if user[4] == 1 %}checked{% endif %}> 
    <span class="slider"></span> 
</label>


    <button type="submit">{{ t('buttons.save') }}</button>

</form>
{% endblock %}
