{% extends "settings.html" %}

{% block title %}Account Settings{% endblock %}

{% block settings_page %}
<h2>Account Settings</h2>

<form id="accountForm" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label>E-mail</label>
    <input type="email" name="email" value="{{ user[1] }}">

    <label>Language</label>
    <select name="language">
        <option value="en" {% if user[2] == 'en' %}selected{% endif %}>English</option>
        <option value="cz" {% if user[2] == 'cz' %}selected{% endif %}>Čeština</option>
        <option value="sk" {% if user[2] == 'sk' %}selected{% endif %}>Slovenčina</option>
    </select>
    <br><br>
    <label>Theme</label>
    <select name="theme">
        <option value="dark" {% if user[3] == 'dark' %}selected{% endif %}>Dark</option>
        <option value="light" {% if user[3] == 'light' %}selected{% endif %}>Light</option>
        <option value="bee" {% if user[3] == 'bee' %}selected{% endif %}>Bee</option>
    </select>

<!--TODO: themes-->
<!--TODO: languages-->
<!--TODO: GET /SpiderKate/settings/account?user=1&user=kate.neckarova@gmail.com&user=en&user=light&user=30&user=0 HTTP/1.1  zkontrolovat bezpecnost-->
    <br><br>
    <label>Default brush size</label>
    <input type="number" name="brush" min="1" max="300" value="{{ user[4] }}">
    
    <label>Notifications</label>
    <input type="checkbox" name="not" value="1" {% if user[5] %}checked{% endif %} >

    <button type="submit">Save</button>

</form>
{% endblock %}
