{% extends "base.html" %}
{% block title %}{{ t('shop.title') }}{% endblock %}

{% block extra_css %}

<!--TODO: only max 15 on page then click next (smth like carousel)-->
<link rel="stylesheet" href="/static/css/shop.css">
{% endblock %}

{% block content %}
<h1 class="shop-title">{{ t('nav.shop') }}</h1>

<div class="shop-grid">
    {% for item in items %}
    <a href="{{ url_for('art_detail', art_id=item[0]) }}" class="art-link">
        <div class="art-item">
            <h3>{{ item[1] }}</h3>
            <p>{{ t('shop.artist') }}: {{ item[4] }}</p>
            <p>{{ t('shop.price') }}: {{ item[2] }} BP</p>
            <div style="position: relative; display: inline-block;">
                <img src="{{ url_for('static', filename=item[3]) }}" alt="Thumbnail" style="max-width:150px;" oncontextmenu="return false;">
                <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<a href="/" id="link">{{ t('buttons.back') }}</a>
{% endblock %}
