{% extends "base.html" %}
{% block title %}{{ user[1] }}{% endblock %}

{% block content %}
<div class="profile">

    <!-- HEADER -->
    <div class="profile-header">
        <div style="position: relative; display: inline-block;">
            <img src="{{ url_for('static', filename=user[3] or 'images/default_avatar.png') }}" class="profile-avatar" style="max-width:150px" oncontextmenu="return false;">
            <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
        </div>

        <div>
            <h2>{{ user[1] }}</h2>
            {% if user[2] %}
                <p class="bio">{{ user[2] }}</p>
            {% endif %}
        </div>
    </div>

    <!-- TABS -->
    <div class="profile-tabs">
        <button onclick="showTab('selling')">Selling</button>

        {% if is_owner %}
            <button onclick="showTab('owned')">Owned</button>
        {% endif %}
    </div>

    <!-- SELLING -->
    <div id="selling" class="tab active">
        {% if selling %}
            <div class="art-grid">
                {% for art in selling %}
                    <a href="/shop/{{ art[0] }}" class="art-card">
                        <div style="position: relative; display: inline-block;">
                            <img src="{{ url_for('static', filename=art[3]) }}" class="preview-img small" oncontextmenu="return false;">
                            <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
                        </div>
                        <p>{{ art[1] }}</p>
                        <span>{{ art[2] }} 🐝</span>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No artworks/commissions to sell yet yet. <a href="/create_art">Create one</a></p>
        {% endif %}
    </div>

    <!-- OWNED -->
    {% if is_owner %}
    <div id="owned" class="tab">
        {% if owned %}
            <div class="art-grid">
                {% for art in owned %}
                    <a href="{{ url_for('art_detail', art_id=art[0]) }}" class="art-card">
                        <div style="position: relative; display: inline-block;">
                            <img src="{{ url_for('preview_art', art_id=art[0]) }}" class="preview-img small" oncontextmenu="return false;">
                            <div style="position: absolute; top:0; left:0; width:100%; height:100%;"></div>
                        </div>
                        <p>{{ art[1] }}</p>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>You don’t own anything yet. <a href="/shop">Buy one</a></p>
        {% endif %}
    </div>
    {% endif %}

</div>
<script>
function showTab(name) {
    document.querySelectorAll('.tab').forEach(t => t.classList.remove('active'));
    document.getElementById(name).classList.add('active');
}
</script>

{% endblock %}
